@import "../../styles/typography";
@import "../../styles/colors";
@import "../../styles/spacings";

$background: $color-grey;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  position: relative;
  z-index: 1;

  &:nth-child(2) {
    padding-bottom: 10px;
  }

  background-color: $background;
  border: none;

  outline: 0;

  font-family: $font-family-mono;

  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: $line-height-small;

  &.border {
    margin-bottom: 10px;

    border-bottom: 1px solid white;
  }

  &.invalid {
    border-color: $color-fire-red;
  }

  &::placeholder {
    font-weight: $font-weight-regular;
  }

  transition: border-color 0.2s linear;
}

.errors {
  color: $color-fire-red;
  opacity: 0;

  font-size: 1px;
  font-weight: $font-weight-regular;
  line-height: 1px;

  transform: scaleY(0);

  transition: opacity 0.6s 0.1s ease-in, font-size 0.2s, line-height 0.2s,
    transform 0.2s;

  &.show {
    opacity: 1;

    font-size: 12px;
    line-height: $line-height-small;

    transform: scaleY(1);
  }
}

.buttonWrapper {
  margin-top: $size-small;
}
