@import '../../styles/typography';
@import '../../styles/colors';

.root {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-right: 10px;
  margin-top: 10px;

  font-family: $font-family-mono;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-large;
  text-decoration: none;
}

.names {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.name {
  margin: 12px;
}

.block {
  width: 100%;
  margin-bottom: 24px;
}

.piquet {
  width: 100%;
  margin-bottom: 12px;

  border-bottom: 4px solid $color-yellow;
}

.elac {
  width: 100%;
  margin-bottom: 12px;

  border-bottom: 4px solid $color-roasted-yellow;
}

.eip {
  width: 100%;
  margin-bottom: 12px;

  border-bottom: 4px solid $color-purple;
}

.busy {
  width: 100%;
  margin-bottom: 12px;

  border-bottom: 4px solid $color-fire-red;
}

.active {
  width: 100%;
  margin-bottom: 12px;

  border-bottom: 4px solid $color-leaf-green;
}

.tree {
  width: 50%;
}

.empty {
  content: '';

  width: 1px;
  height: $line-height-large;

}
