@import '../../styles/typography';
@import '../../styles/colors';

.root {
  position: relative;
  user-select: none;

  width: 120px;
  height: 100px;

  padding: 0;
  margin: 10px;

  border: 4px solid black;
  border-radius: 4px;

  cursor: pointer;

  outline: none;

  font-family: $font-family-sans-serif;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-large;
  text-decoration: none;

  transition: transform 0.3s ease-in-out;
}

.root:hover,
.root:focus {
  transform: translate(0, -6px);
}

.active {
  background-color: $color-leaf-green;
  border-color: $color-leaf-green;
}

.inactive {
  background-color: $color-grey;
  border-color: $color-grey;
}

.busy {
  background-color: $color-fire-red;
  border-color: $color-fire-red;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.name {
  font-weight: bold;
}

.duty {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;

  width: 80%;
  height: auto;

  background-color: $color-yellow;
  border-radius: 12px;
  color: $color-black;

  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: $line-height-small;
}

.piquet {
  background-color: $color-yellow;
}

.elac {
  background-color: $color-roasted-yellow;
}

.eip {
  background-color: $color-purple;
}

.status {
  background-color: #161925;
  color: white;

  font-family: $font-family-mono;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  font-weight: $font-weight-regular;
  line-height: $line-height-small;
}
